*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

.forgot-page{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#5B46E8,#7C3AED);
    padding:20px;
}

.forgot-box{
    width:450px;
    background:#fff;
    padding:45px;
    border-radius:20px;
    box-shadow:0 20px 50px rgba(0,0,0,.15);
}

.logo{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-bottom:35px;
}

.logo-icon{
    width:42px;
    height:42px;
    background:#6C4EF6;
    color:#fff;
    border-radius:12px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:700;
    margin-right:12px;
}

.logo h2{
    font-size:32px;
    color:#111827;
}

.forgot-box h1{
    text-align:center;
    margin-bottom:10px;
    color:#111827;
}

.forgot-box p{
    text-align:center;
    color:#6B7280;
    margin-bottom:35px;
    line-height:1.6;
}

.form-group{
    margin-bottom:25px;
}

.form-group label{
    display:block;
    margin-bottom:8px;
    font-weight:600;
}

.form-group input{
    width:100%;
    height:55px;
    border:1px solid #D8DCEF;
    border-radius:12px;
    padding:0 15px;
    outline:none;
    font-size:16px;
}

.form-group input:focus{
    border-color:#6C4EF6;
    box-shadow:0 0 0 3px rgba(108,78,246,.15);
}

.reset-btn{
    width:100%;
    height:55px;
    border:none;
    border-radius:12px;
    background:linear-gradient(90deg,#4F46E5,#7C3AED);
    color:#fff;
    font-size:17px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.reset-btn:hover{
    transform:translateY(-2px);
}

.back-login{
    display:block;
    margin-top:25px;
    text-align:center;
    color:#6C4EF6;
    text-decoration:none;
    font-weight:600;
}

.back-login:hover{
    text-decoration:underline;
}

@media(max-width:576px){

.forgot-box{
    width:100%;
    padding:30px 22px;
}

.logo h2{
    font-size:26px;
}

.forgot-box h1{
    font-size:28px;
}

}